.navContainer{
  background: rgb(144,201,255);
  background: linear-gradient(90deg, rgba(144,201,255,1) 0%, rgba(203,169,255,1) 100%);
  display: flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  font-size: larger;
  padding: 0.5rem;
}


.navItem {
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 25%;
  padding: 1rem;
  color: rgb(61, 59, 124);
  font-weight: bolder;
  text-decoration: none;
}

.navItem:hover {
  background-color: rgb(131,223,241);
}

.mainTitle {
  text-align:center;
}

.mainContainer {
  margin: 5rem;
  text-align:center;
  background-color: aliceblue;
  padding:3rem;
}

.listItem {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
}

.addForm {
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgb(192, 226, 255);
}

.block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.inline {
  display: inline;
  margin: 1rem;
}

.info {
  font-weight: lighter;
  font-size: small;
  font-style: italic;
}

.doneButton {
  padding: 0.5rem;
  background: green;
  color: white;
  border: none;
  border-radius: 2%;
}

.textProps{
  padding:1rem;
}
.textProps:hover {
  background-color: rgb(222, 237, 250);
}

.width100 {
  width: 100%;
  text-align: left;
}